@import './globalStyle';
@font-face {
  font-family: 'iconfont';  /* project id 1885094 */
  src: url('//at.alicdn.com/t/font_1885094_0xkonzn3cq9.eot');
  src: url('//at.alicdn.com/t/font_1885094_0xkonzn3cq9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1885094_0xkonzn3cq9.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1885094_0xkonzn3cq9.woff') format('woff'),
  url('//at.alicdn.com/t/font_1885094_0xkonzn3cq9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1885094_0xkonzn3cq9.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_llidfg62e1.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_llidfg62e1.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_llidfg62e1.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_llidfg62e1.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_llidfg62e1.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_llidfg62e1.svg#杨任东竹石体-Bold') format('svg'); /* iOS 4.1- */
}

body {
  font-family:"webfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: $theme-color;
}

.notes-icon {
  width: 14px;
  height: 14px;
}

.start-page-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.sel-hander {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.sun-moon {
  width: 20px;
  height: 20px;
  font-size: 20px;
  margin: 0;
}

.sel-icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.menu-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.small-icon {
  width: 12px;
  height: 12px;
  font-size: 12px;
}

.middle-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.larger-icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
}